@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Single+Day&display=swap");
* {
  padding: 0px;
  margin: 0;
  box-sizing: border-box;
}

.main {
  background: url(img-bestie-01-01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  /* background-color: aqua; */
}

.content {
  height: 70%;
  width: 700px;
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  position: fixed;
  top: 30px;
  right: 10%;
}
.content h1 {
  font-size: 90px;
  font-family: "Dancing Script", cursive;
}
.content h2 {
  font-family: "Dancing Script", cursive;
  font-family: "Single Day", cursive;
  font-size:50px;
}
button{
    height: 70px;
    width: 200px;
    font-size: 30px;
    border-radius: 25px;
    border: none;
    color: white;
    background-color: pink;
    box-shadow: 2px 2px 5px grey;
    cursor: pointer;
}
button:hover{
    transform: scale(1.05);
}